In [47]:
import pandas as pd
import numpy as np

from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.linear_model import LinearRegression 
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [5]:
df = pd.read_csv('data/energydata_complete.csv')
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [15]:
df_temp = df[['T2','T6']]
df_temp.head()

     T2        T6
0  19.2  7.026667
1  19.2  6.833333
2  19.2  6.560000
3  19.2  6.433333
4  19.2  6.366667

In [20]:
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# Load your dataset and extract T2 and T6 values.

# Create a linear regression model.
model = LinearRegression()

X = df_temp['T2']
y = df_temp['T6']

X = X.to_numpy().reshape(-1, 1)  # Convert X to a 2D NumPy array.
y = y.to_numpy()  # Convert y to a 1D NumPy array.

# Fit the model.
model.fit(X, y)  # X is the T2 values, y is the T6 values.

# Make predictions.
y_pred = model.predict(X)

Root Mean Squared Error: 3.644

## Question 17

In [21]:
# Calculate RMSE.
rmse = np.sqrt(mean_squared_error(y, y_pred))

# Round the RMSE to three decimal places.
rmse_rounded = round(rmse, 3)

print(f"Root Mean Squared Error: {rmse_rounded}")

Root Mean Squared Error: 3.644

## Question 18
Remove the following columns: [“date”, “lights”]. The target variable is “Appliances”. Use a 70-30 train-test set split with a  random state of 42 (for reproducibility). Normalize the dataset using the MinMaxScaler (Hint: Use the MinMaxScaler fit_transform and transform methods on the train and test set respectively). Run a multiple linear regression using the training set. Answer the following questions:

In [57]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

df_18 = df.drop(['date', 'lights'], axis=1);
y = df_18['Appliances']
df_features = df_18.drop('Appliances', axis=1)

x_train, x_test, y_train, y_test = train_test_split(df_features, y,
test_size=0.3, random_state=42)


X_train_scaled = scaler.fit_transform(x_train)
X_test_scaled = scaler.transform(x_test)

# Create and train a multiple linear regression model.
model = LinearRegression()
model.fit(X_train_scaled, y_train)

# Make predictions on the test set.
y_pred = model.predict(X_test_scaled)

# Make predictions on the training set.
y_train_pred = model.predict(X_train_scaled)

## Question 18

In [41]:
# Calculate the Mean Absolute Error for the training set.
mae_train = mean_absolute_error(y_train, y_train_pred)

#What is the Mean Absolute Error (in three decimal places) for the  training set
print(f"Root Mean Squared Error for Training Set (MSE): {mae_train:.3f}")

Root Mean Squared Error for Training Set (MSE): 53.742

## Question 19

In [50]:

#What is the Mean Absolute Error (in three decimal places) for the  training set
rms_train  = np.sqrt( mean_squared_error(y_train, y_train_pred))
# Round the MAE to three decimal places.
rms_train_rounded = round(rms_train, 3)

print(f"Mean Absolute Error (MAE) for the training set: {rms_train_rounded }")

Mean Absolute Error (MAE) for the training set: 95.216

## Question 20

In [52]:
#What is the Mean Absolute Error (in three decimal places) for the  training set
mae_test  = ( mean_absolute_error(y_test, y_pred))
# Round the MAE to three decimal places.
mea_test_rounded = round(mae_test, 3)

print(f"Mean Absolute Error (MAE) for the test set: {mea_test_rounded }")

Mean Absolute Error (MAE) for the test set: 53.643

## Question 21

In [53]:
rms_test  = np.sqrt( mean_squared_error(y_test, y_pred))
# Round the MAE to three decimal places.
rms_test_rounded = round(rms_test, 3)

print(f"Mean Absolute Error (MAE) for the test set: {rms_test_rounded }")

Mean Absolute Error (MAE) for the test set: 93.64

## Question 22
No

## Question 23

In [59]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.5)
ridge_reg.fit(x_train, y_train)

# Make predictions on the test set using the Ridge model.
y_pred_ridge = ridge_model.predict(X_test_scaled)

# Calculate the RMSE for the Ridge model on the test set.
rmse_ridge = np.sqrt(mean_squared_error(y_test, y_pred_ridge))

print(f"RMSE for Ridge regression on the test set: {rmse_ridge:.3f}")

RMSE for Ridge regression on the test set: 93.709